<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString_SampleDataDB" connectionString="Server=sampledatabase.prontocmsoftware.com;Database=SampleDB;User Id=SampleUser;Password=SamplePassword;" providerName="System.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>